<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-*********" crossorigin="anonymous" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="medio">
            <div class="informacion">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo-mercado-liebre.svg" alt="Mercado liebre logo">
                    </a>
                </div>
                <a>
                   
                </a>
            </div>

            <div class="nav-form">
                <form action="">
                    <input type="search" placeholder="Buscar Producto">
                </form>
                <nav class="navbar">
                    <a href="#">Ofertas</a>
                    <a href="#">Tiendas Oficiales</a>
                    <a href="#">Vender</a>
                    <a href="#">Ayuda</a>
                </nav>
            </div>

            <div class="cuenta">
                <div class="ofertas">
                    Compra en cuotas y sin tarjetas de crédito
                </div>
                <div class="registro">
                    <a href="register">Creá tu cuenta</a>
                    <a href="login">Ingresá</a>
                    <a href="#">Mis compras</a>
                </div>
            </div>
        </div>
    </header>
    

    <div class="imagen-central">
        <img src="/images/img-home-banner.jpg" alt="Banner Mercado Liebre">
    </div>

    <main>
        <div class="Titulo">
            <h2>Basado en tu última visita</h2>
        </div>

        <section class="last-visit">
            <div class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                </div>
                <h2>Cafetera Moulinex</h2>
            </div>
            
            <div class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                </div>
                <h2>MacBook Pro 2019</h2>
            </div>

            <div class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                </div>
                <h2>Samsung Galaxy S10</h2>
            </div>

            <div class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                </div>
                <h2>SmartTv Samsung 43</h2>
            </div>
        </section>

        <div class="Titulo">
            <h2>Ofertas</h2>
        </div>

        <section class="offers">
            <div class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                </div>
                <h2>Cafetera Moulinex</h2>
            </div>

            <div class="product">
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$230.000</p>
                    <p class="discount">20% OFF</p>
                </div>
                <h2>MacBook Pro 2019</h2>
            </div>

            <div class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$70.500</p>
                    <p class="discount">10% OFF</p>
                </div>
                <h2>Samsung Galaxy S10</h2>
            </div>

            <div class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
                <div class="product-desc-box">
                    <span class="product-delivery-icon"><i class="fas fa-truck"></i></span>
                </div>
                <div class="price-container">
                    <p class="price">$23.200</p>
                    <p class="discount">5% OFF</p>
                </div>
                <h2>SmartTv Samsung 43</h2>
            </div>
        </section>
    </main>

    <footer>
        <section class="payment-info">
            <i class="far fa-credit-card"></i> <!-- Icono de tarjeta de crédito -->
            <div>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</p>
            </div>
        </section>

        <section class="free-shipping">
            <i class="fas fa-gift"></i>
            <div>
                <h3>Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de
                    Mercado Puntos.</p>
            </div>
        </section>

        <section class="security-info">
            <i class="fas fa-shield-alt"></i>
            <div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </div>
        </section>

        <section class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>