<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-*********" crossorigin="anonymous" />
    <title>Login</title>
</head>

<body>

        <header>
            <div class="medio">
                <div class="informacion">
                    <div class="logo">
                        <a href="/">
                            <img src="/images/logo-mercado-liebre.svg" alt="Mercado liebre logo">
                        </a>
                    </div>
                    <a>
                        Ubicacion Destino
                    </a>
                </div>
                <div class="nav-form">
                    <form action="">
                        <input type="search" placeholder="Buscar Producto">
                    </form>
                    <nav class="navbar">
                        <a href="#">Ofertas</a>
                        <a href="#">Tiendas Oficiales</a>
                        <a href="#">Vender</a>
                        <a href="#">Ayuda</a>
                    </nav>
                </div>

                <div class="cuenta">
                    <div class="ofertas">
                        Compra en cuotas y sin tarjetas de crédito
                    </div>
                    <div class="registro">
                        <a href="register">Creá tu cuenta</a>
                        <a href="login">Ingresá</a>
                        <a href="#">Mis compras</a>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <main>
                <div class="main-container">
                    <div class="login">
                        <h1>Login</h1>
                        <form action="/" method="get">
                            <div class="username">
                                <input type="text" name="username" required>
                                <label>Nombre de Usuario</label>
                            </div>
                            <div class="password">
                                <input type="password" name="password" required>
                                <label>Contraseña</label>
                            </div>
                            <div class="Submit">
                                <input type="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </main>

        </main>



        <footer>
            <section class="payment-info">
                <i class="far fa-credit-card"></i> <!-- Icono de tarjeta de crédito -->
                <div>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </div>
            </section>
    
            <section class="free-shipping">
                <i class="fas fa-gift"></i>
                <div>
                    <h3>Envío gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de
                        Mercado Puntos.</p>
                </div>
            </section>
    
            <section class="security-info">
                <i class="fas fa-shield-alt"></i>
                <div>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                        protegid@.</p>
                </div>
            </section>
    
            <section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>

</body>

</html>